@page "/usage"
@using OneMinuteIntegrationOfAPI.Interfaces
@using OneMinuteIntegrationOfAPI.Models
@inject IServiceUsageHistoryService UsageService
@inject IConfiguration Configuration

<h3>API Usage History</h3>


@code {
    private int totalUsage;
    private int remainingUsage;

    protected override async Task OnInitializedAsync()
    {
        var usage = await UsageService.GetClientUsage();
        totalUsage = usage.totalUsage;
        remainingUsage = usage.remainingUsage;
    }
}